flows.json
[{"id":"1113633f.f92fed","type":"tab","label":"prediction","disabled":false,"info":""},{"id":"96b59698.b7c578","type":"function","z":"1113633f.f92fed","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\n\n//following are required to receive a token\nvar apikey=\"4J8MnQEbcT_ywm65wDbegduRxcFf_tZYiBdOkbJg4tHQ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["58ac9a66.a9f2e4"]]},{"id":"827a8a96.0a0138","type":"http request","z":"1113633f.f92fed","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/c1babd57-87bb-4640-bbf8-546aba4eec2b/deployments/7729e1cd-ae7a-4d74-a419-a4cb57646b7d/online","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":160,"wires":[["bc1967a7.41f6e8","9b240dda.9eaf4"]]},{"id":"f44255c1.2644b8","type":"debug","z":"1113633f.f92fed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"9b240dda.9eaf4","type":"function","z":"1113633f.f92fed","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["f44255c1.2644b8","eb4c5383.877aa"]]},{"id":"bc1967a7.41f6e8","type":"debug","z":"1113633f.f92fed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"d7b487e1.3c47c8","type":"function","z":"1113633f.f92fed","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"c1babd57-87bb-4640-bbf8-546aba4eec2b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Adult Mortality','Income composition of resources',' BMI ','GDP','Schooling',' HIV/AIDS'],\n\"values\":[[a,b,c,d,e,f]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["827a8a96.0a0138"]]},{"id":"58ac9a66.a9f2e4","type":"http request","z":"1113633f.f92fed","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["d7b487e1.3c47c8"]]},{"id":"7259bffb.1172","type":"ui_form","z":"1113633f.f92fed","name":"","label":"","group":"849b83dc.abe42","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"b","type":"number","required":true,"rows":null},{"label":" BMI ","value":"c","type":"number","required":true,"rows":null},{"label":"GDP","value":"d","type":"number","required":true,"rows":null},{"label":"Schooling","value":"e","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"f","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["96b59698.b7c578"]]},{"id":"eb4c5383.877aa","type":"ui_text","z":"1113633f.f92fed","group":"849b83dc.abe42","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"849b83dc.abe42","type":"ui_group","z":"","name":"Life Expectancy","tab":"5e094597.a5d5dc","order":1,"disp":true,"width":"6","collapse":false},{"id":"5e094597.a5d5dc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]